<launch>
    <!-- <node pkg="map_server" type="map_server" name="map_server_node" args="$(find static_map)/map_file/map.yaml"/>
    <node pkg="rviz" type="rviz" name="Rviz_for_extract_path" args="-d $(find global_planner)/rviz/global_plan_lanecross.rviz" /> -->
    <node pkg="global_planning" type="global_plan_node" name="Global_planner_with_defined_paths" output="screen">
        <param name="file_path" value="$(find global_planning)/path_file/" />
        <param name="debug" value="false" />
        <param name="weight_data" value="0.47" />
        <param name="weight_smooth" value="0.2" />
        <param name="tolerance" value="0.1" />

        <param name="lane_speed_limit" value="3.0"/>
        <param name="cross_speed_limit" value="1.0"/>

        <param name="start_length" value="5.0"/>
        <param name="end_length" value="5.0"/>
    </node>
</launch>
