<launch>
    <include file="$(find lidar_euclidean_cluster_detect)/launch/lidar_euclidean_cluster_detect.launch">
        <arg name="output_frame" value="/laser" />
        <arg name="points_node" value="/lslidar_point_cloud" />
        <arg name="use_gpu" value="true" />
    </include>

    <include file="$(find loam_velodyne)/launch/loam_velodyne.launch" />
</launch>