<launch>
  <!-- <param name="use_sim_time" value="true" type="bool"/> -->

  <node pkg="tf" type="static_transform_publisher" name="base2laser" args="0.17 0 0.185 0 0 0 1 /base_link /velodyne 100" />
  <node pkg="tf" type="static_transform_publisher" name="base2imu" args="0.105 0.16 0.17 0 0 0 1 /base_link /base_imu_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base2rr" args="-0.178 -0.178 -0.165 0 0 0 1 /base_link /wheel_rr 100" />

  <node pkg="map_server" type="map_server" name="global_cost_map_node" args="$(find static_map)/map_file/map.yaml"/>

  <node pkg="ndt_localization" type="ndt_localization_node" name="ndt_localization_node" output="screen">
    <rosparam file="$(find ndt_localization)/params/test.yaml" command="load" />
    <param name="global_map_file" value="$(find static_map)/map_file/yuquan_46w.pcd"/>
  </node>
</launch>