<launch>
    <include file="$(find static_tf)/launch/static_tf.launch" />

    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    <include file="$(find hall_encoder)/launch/hall_encoder_node.launch" />
    <include file="$(find razor_imu_9dof)/launch/razor-pub.launch" />

    <include file="$(find odom_imu)/launch/odom_imu.launch" />
   
    <node pkg="map_server" type="map_server" name="global_cost_map_node" args="$(find static_map)/map_file/map.yaml"/>
    
    <node pkg="ndt_localization" type="ndt_localization_node" name="ndt_localization_node" output="screen">
        <rosparam file="$(find ndt_localization)/params/test.yaml" />
        <param name="global_map_file" value="$(find static_map)/map_file/yuquan_46w.pcd"/>
    </node>

    <include file="$(find waypoint_maker)/launch/waypoint_loader.launch" />
    <include file="$(find waypoint_follower)/launch/pure_persuit.launch" />

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node" args="/dev/ttyACM0"/>
    

</launch>
