<launch>
    <!--default定义的值可以在launch的时候通过命令行指定而被覆盖,而value定义的值不会-->
    <include file="$(find static_tf)/launch/static_tf.launch" />
    <!-- <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" /> -->
    <!-- <include file="$(find razor_imu_9dof)/launch/razor_pub.launch" /> --> -->

    <!-- <param name="use_sim_time" value="true" type="bool"/> -->

    <node pkg="ndt_mapping" type="fast_ndt_mapping_node" name="fast_ndt_mapping_node" output="screen">
        <rosparam file="$(find ndt_mapping)/params/params_ndt_mapping.yaml" command="load"/>
    </node>
</launch>
